<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/home.css">
    <title>Projet Voltaire 2.0</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/img-logo.png" />
    <script src="https://kit.fontawesome.com/eea079109c.js" crossorigin="anonymous"></script>

</head> 

<body> 
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <h1 onclick="topFunction()" id="home-logo"><span>Le </span>Projet <span>Voltaire </span>2.0</h1>
                </div>
                <div class="nav-list">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    <!-- Home cover -->
    <section id="home-cover">
        <div class="home-cover container">
            <div>
                <h1>Projet voltaire 2.0<span></span></h1>
                <a href="#interfaces" type="button" class="cta">Verification de mon code</a>
            </div>
        </div>
    </section>
    <!-- End Home cover -->
    <!-- Our services section -->
    <section id="services">
        <div class="services container">

            <div class="service-top">
                <h1 class="section-title">Projet Voltaire <span>2.0</span></h1>
                <p>Apprendre à coder c’est apprendre une nouvelle langue, une nouvelle syntaxe, une nouvelle façon de nous exprimer !
                    C’est pour cela que nous vous proposons Projet Voltaire 2.0 ! plus qu’un debugger de code, Projet Voltaire 2.0 sera votre allié pour affronter le monde de la programmation.
                </p>
            </div>
            <div class="service-bottom">
                <div class="service-item">
                    <div class="icon"><img src="../../static/img/home/temps-rapide.png" /></div>
                    <h2>Rapide</h2>
                    <p>Analyse votre code en quelques secondes !</p>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="../../static/img/home/checkmark.png" /></div>
                    <h2>Précis</h2>
                    <p>Trouve tous les problèmes d'innatention de votre code!</p>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="../../static/img/home/contour-de-vue-superieure-du-cerveau.png" /></div>
                    <h2>Intuitif</h2>
                    <p>Une interface pensez pour vous!</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- End Our services section -->
 
    <!-- Recent painting section -->
    <section id="interfaces">
        <div class="interfaces container">
            <div class="interfaces-header">
                <section class="section-title">
                    <h1>Série 3 :  <span>Tableaux statiques</span> en C !</h1>
                </section>
                    <h1 id="text_intro">Calcul de <span>moyenne  </span>:</h1>
                <div>
                    <p>Ecrivez une fonction de prototype <code>float average(float values[], int n_values)</code> qui prend en parametres un tableau de nombres à virgule flottante, le nombre d'éléments de ce tableau et renvoie la moyenne arithmétique de l'ensemble des elements du tableau</p>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Votre langage : 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a>C</a>
                    </div>

                </div>
            </div>

            <form action="{{ url_for('submit') }}" method="post">

                <div class="all-interfaces">
                <div class="interface-item">
                    <div class="interface-info">
                        <div class="text">
                            <p>Mon code</p>
                        </div>
                            <p>
                                <label for="ameliorer">
                                </label>
                                <br />
                                <textarea name="text" id="ameliorer" rows="20" cols="60">{{ fudge }}</textarea>
                            </p>

                    </div>
                    <div class="interface-info">
                        <div class="text">
                            <p>Notre estimation</p>
                        </div>
                            <p>
                                <br />
                                <textarea id="solution" readonly="readonly" rows="20" cols="60">{{ pouet }}</textarea>
                            </p>


                    </div>
                </div>
                <div>
                    <input href="#interfaces" type="submit" value="Verification de mon code" class="btn"></input>
                </div>
                </div>
            </form>

        </div>
    
    </section> 


    <!-- End Recent painting section -->

    <!-- Footer -->
    <section id="footer">
        <div class="footer container">
        
            <div class="brand">
                <h1><span>Le</span> Projet  <span>Voltaire </span>2.0</h1>
            </div>
            <div class="social-icon">
                <div class="social-item">
                    <a href="https://www.facebook.com/museedulouvre/"><img src="https://img.icons8.com/metro/26/000000/facebook-new--v2.png" /></a>
                </div>
                <div class="social-item">
                    <a href="https://www.instagram.com/museelouvre/?hl=fr"><img src="https://img.icons8.com/metro/26/000000/instagram-new.png" /></a>
                </div>
                <div class="social-item">
                    <a href="https://www.youtube.com/channel/UCafm6w_rPndqAtokQy04Jdw"><img src="https://img.icons8.com/metro/26/000000/youtube.png" /></a>
                </div>
            </div>
            <p>Copyright © 2020 Team 242</p>
        </div>
    </section>
    <!-- End Footer -->
    <script src="home.js"></script>
</body>

</html>