@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';


#here{
	color:rgb(42, 226, 202);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.7rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: rgb(42, 226, 202);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(42, 226, 202);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(42, 226, 202);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}
.brand h1 span {
	color: rgb(42, 226, 202);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(0, 0, 0, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
/* End Header section */

/* home-cover Section */
#home-cover {
	background-image: url(img/home/Couverture.PNG);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home-cover::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .3;
	z-index: -1;
}
#home-cover .home-cover {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home-cover h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#home-cover h1:nth-child(1) {
	animation-delay: 1s;
}
#home-cover h1:nth-child(2) {
	animation-delay: 2s;
}
#home-cover h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#home-cover h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(42, 226, 202);
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#home-cover h1:nth-child(1) span {
	animation-delay: .5s;
}
#home-cover h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home-cover h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End home-cover Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
	background: linear-gradient( #ececec 0%, rgb(27, 141, 126) 100%);
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}

#services .service-top p{
	color: rgb(0, 0, 0);
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	flex-direction: row;

}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: .9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
	margin-left: 60px;
	color: #fff;
}
#services .service-item h2 {
	font-size: 2rem;
	color: rgb(0, 0, 0);
	margin-left: 56px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: #fff;
	text-align: center;
}
/* End Services Section */

/* Text section */
#text_intro h1{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

#text_intro span{
	color: rgb(42, 226, 202);
}

/*End Text Section */

/* interfaces section */
#interfaces .interfaces {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#interfaces .interfaces-header h1 {
	margin-bottom: 50px;
}
#interfaces .all-interfaces {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#interfaces .all-interfaces .text p{
	color: rgb(42, 226, 202);
	position:center ; 
	font-size: 30px;
	margin-left: 150px;
	text-decoration: underline;	
}

#interfaces .interface-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#interfaces .interface-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#interfaces .interface-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#interfaces .interface-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#interfaces .interface-info p {
	color: white;
}
/* End paintings section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

.btn {
	display: inline-block;
	padding: 10px 30px;
	color: rgb(0, 0, 0);
	background-color: transparent;
	border: 2px solid rgb(42, 226, 202);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.btn:hover {
	color: white;
	background-color: rgb(42, 226, 202);
}

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* top-button */

#top-button {
    border: none;
    outline: none;
    background-color: #5a5a5abb;
    opacity: 0.8;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    bottom: 30px;
    position: fixed;
    right: 30px;
    z-index: 9;
    transition: all 0.5s;
}

#top-button:hover {
    color: #5a5a5abb;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #5a5a5abb;
    transition: all 0.7s;
}

/* end-button */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(42, 226, 202);
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* home-cover */
	#home-cover h1 {
		font-size: 7rem;
	}
	/* End home-cover */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* painting */
	#interfaces .interface-item {
		flex-direction: row;
	}
	#interfaces .interface-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#interfaces .interface-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#interfaces .all-interfaces .interface-info {
		height: 100%;
	}
	#interfaces .all-interfaces .interface-img {
		height: 100%;
	}
	/* End painting */

	
/* ---------------------------------------------------- */
 /* Navbar container */
.dropdown {
	float: left;
	overflow: hidden;
}
.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(0, 0, 0);;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 
	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(42, 226, 202);
}
.dropdown-content {
	display:none;
	position: absolute;
	background-color: rgb(243, 252, 251);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
  .dropdown-content a {
	float: none;
	display: flex;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: flex;
	margin-bottom: 1%;
  }
/* ------------------------------------------------- */



/* About */
#about .about {
	flex-direction: row;
}
#about .col-left {
	width: 600px;
	height: 400px;
	padding-left: 60px;
}
#about .about .col-left .about-img::after {
	left: -45px;
	top: 34px;
	height: 98%;
	width: 98%;
	border: 10px solid rgb(42, 226, 202);
}
#about .col-right {
	text-align: left;
	padding: 30px;
}
#about .col-right h1 {
	text-align: left;
}
/* End About */

/* contact  */
#contact .contact {
	flex-direction: column;
	padding: 100px 0;
	align-items: center;
	justify-content: center;
	min-width: 20vh;
}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */

code {
  font-family: monospace;
	background-color: #ececec;
}